@import "normalize";
@import "../mixins/index";

* {
    box-sizing: border-box;
}

*:after,*:before{
    box-sizing: border-box;
}

html,body{
    min-height: 100%;
}
html{position: relative;}

body{
    font-family: $font-family;
}
.clearfix{
    @include clearfix;
}

.page-content{
    padding: 8px 20px 24px;
    background: #fff;
}
.page-header{
    h1{
        font-size: 20px;
        font-weight: normal;
        color: $title-color;
        margin: 0;
    }
    border-bottom: 1px dotted #e2e2e2;
    padding-top: 5px;
    padding-bottom: 10px;
}