// 类名前缀
$css-prefix           : vue-;

$primary-color        : #2db7f5;  
$success-color        : #87d068;
$error-color          : #f60;
$warning-color        : #fac450;

$body-background      : #fff;

$font-family          : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$text-color           : #666;
$font-size-base       : 12px;
$line-height-base     : 1.5;
$line-height-computed : floor(($font-size-base * $line-height-base));
$border-radius-base   : 6px;



