<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <script>
        var d = 30;
        var startIndex = 3;
        var weeks = Math.ceil(30/7);
        var count = weeks * 7;
        var redundant = count - d;
        var lastCount = redundant - startIndex;
        var numList = "";
        var i = 1;
        while(i <= d){
            numList += i++;
        }
        var startStr = Array(startIndex+1).join(0);
        var endStr = Array(lastCount+1).join(0);
        console.log(startStr+numList+endStr);
    </script>
</body>
</html>