<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>演示</title>
</head>
<body>
    <script>
        new Notification("Hi!");
        Notification.requestPermission(function (status) {
            // status的值为 "granted" 或 "denied"
            console.log(status);
        });
    </script>
</body>
</html>