<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript">
        try {
            document.execCommand('BackgroundImageCache', false, true);
        }
        catch(e) {};
    </script> 
    <style>
        span{
            display:inline-block;
            background:url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_679c15cc.png") no-repeat 0 0;
            width:50px;
            height:50px;
        }
    </style>
</head>
<body>
    <span></span>
</body>
</html>